.whistles {
	clear:       both;
	width:       100%;
	margin:      0 0 1.5rem;
	font-family: Georgia, sans-serif;
	line-height: 1.5;
}

.whistles::after,
.whistle-content::after {
	content:    ".";
	display:    block;
	height:     0;
	clear:      both;
	visibility: hidden;
}

.whistle-title:hover {
	cursor: pointer;
}

.whistle-content {
	overflow: hidden;
}

/**
 * Tabs
 */

/* Wraps the entire tabbed section. */
.whistles-tabs {}

	/* Unordered list. */
	.whistles-tabs-nav {
		list-style: none;
		margin: 0;
	}

		/* Individual list item. */
		.whistles-tabs-nav li {
			display: inline-block;
		}

			/* Link within list item. */
			.whistles-tabs-nav li a {
				display:            inline-block;
				padding:            0.5rem 1.5rem;
				font-size:          0.75em;
				font-family:        Arial, sans-serif;
				font-weight:        bold;
				color:              #777;
				background:         #f5f5f5;
				border:             1px solid #ececec;
				border-right-width: 0;
			}

			.whistles-tabs-nav li:last-child a {
				border-right-width: 1px;
			}

			.whistles-tabs-nav li a:hover {
				color:      #555;
				background: #f9f9f9;
			}
			.whistles-tabs-nav li[aria-selected="true"] a {
				color:               #555;
				background:          #fff;
				border-bottom-color: #fff;
			}

	/* Wraps all of the tab content panels. */
	.whistles-tabs-wrap {
		margin:     -1px 0 0;
		padding:    1.5rem 1.5rem 0 1.5rem;
		color:      #666;
		background: #fff;
		border:     1px solid #ececec;
	}

		/* Individual tab content. */
		.whistles-tabs-wrap .whistle-content {}

/**
 * Toggle/Accordion
 */

/* Wraps the entire toggle/accordion section. */
.whistles-toggle,
.whistles-accordion {}

	/* Title for individual section. */
	.whistles-toggle .whistle-title,
	.whistles-accordion .whistle-title {
		margin:           0;
		padding:          0.5rem 1.5rem;
		font-size:        0.75em;
		font-family:      Arial, sans-serif;
		font-weight:      bold;
		color:            #777;
		background:       #f5f5f5;
		border:           1px solid #ececec;
		border-top-width: 0;
	}

		.whistles-toggle .whistle-title:first-child, 
		.whistles-accordion .whistle-title:first-child {
			border-top-width: 1px;
		}

		.whistles-toggle .whistle-title:hover,
		.whistles-toggle .whistle-title[aria-selected="true"],
		.whistles-accordion .whistle-title:hover, 
		.whistles-accordion .whistle-title[aria-selected="true"] {
			color:      #555;
			background: #ededed;
		}

	/* Individual toggle section content. */
	.whistles-toggle .whistle-content,
	.whistles-accordion .whistle-content {
		margin:     -1px 0 0;
		padding:    1.5rem 1.5rem 0 1.5rem;
		color:      #666;
		background: #fff;
		border:     1px solid #ececec;

			-moz-box-sizing: border-box;
		box-sizing: border-box;
	}